branca==0.7.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
folium==0.17.0
future==1.0.0
geocoder==1.38.1
idna==3.10
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
numpy==2.1.1
pyfiglet==1.0.2
Pygments==2.18.0
ratelim==0.1.6
requests==2.32.3
rich==13.7.1
six==1.16.0
urllib3==2.2.3
xyzservices==2024.9.0
